<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Our Website</h1>
<p>Dear <%= @user.email %>,</p>
<p>Thank you for signing up!</p>
<p>We look forward to seeing you on our website.</p>
</body>
</html>
